# Google Drive API Credentials
# Get these from Google Cloud Console (https://console.cloud.google.com)
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REFRESH_TOKEN=
GOOGLE_DRIVE_PARENT_FOLDER_ID=1KPPA5zcvLFVPdvPFDaHkJgVfAePVLGMj
GEMINI_API_KEY=
